{% include 'head.twig' %}
<title>{{title}}</title>
{% include 'header.twig' %}
<div class="editUser box_form">
    <form method="post" action="../updateUser">
        <fieldset>
            <legend>Edit User</legend>
            <input type="text" placeholder="id" name="id" value="{{ id }}" readonly>
            <input type="text" placeholder="*Имя" name="name" value="{{ name }}" required>
            <input type="email" placeholder="*Email" name="email" value="{{ email }}" required>
            <input type="text" placeholder="*Придумайте пароль" name="password" value="{{ password }}" readonly>
            <input type="number" placeholder="*Возраст" name="age" value="{{ age }}" required>
            <textarea name="about" placeholder="Напишите о Себе">{{ about }}</textarea>
            <input type="submit" name="submitR" value="OK">
        </fieldset>
    </form>
</div>
{% include 'footer.twig' %}