<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="update box_form">
        <a href="listUsers">Назад</a>
        <form action="" method="post">
            <fieldset>
                <legend>Edit User</legend>
                <input type="text" placeholder="*Имя" name="name" value="{{ name }}" required>
                <input type="email" placeholder="*Email" name="email" value="{{ email }}" required>
                <input type="password" placeholder="*Придумайте пароль" name="password" value="{{ password }}" required>
                <input type="number" placeholder="*Возраст" name="age" value="{{ age }}" required>
                <textarea name="about" placeholder="Напишите о Себе">{{ about }}</textarea>
                <input type="submit" name="submitR" value="OK">
            </fieldset>
        </form>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>