{% include 'head.twig' %}
<title>{{title}}</title>
{% include 'header.twig' %}
<div class="containerGallery">
    <div class="boxUser">
        <div class="userInfo">
            <div class="userPhoto">
                <img src="public/images/profile/{{ photo }}" alt="photoUser">
            </div>
            <div class="userName">
                <h2>{{ name }}</h2>
                <p>{{ email }}</p>
            </div>
            <form action="userImages/deleteSession" method="post">
                <input type="submit" value="Выход" name="exit">
            </form>
        </div>
        <div class="files">
            <form action="userImages/updateProfilePhoto" enctype="multipart/form-data" method="post">
                <fieldset>
                    <legend>Изменить аватар</legend>
                    <input type="file" name="profilePhoto">
                    <input type="submit" value="OK">
                </fieldset>
            </form>
            <form action="userImages/uploadPhoto" enctype="multipart/form-data" method="post">
                <fieldset>
                    <legend>Добавить фото в галерею</legend>
                    <input type="file" name="photo">
                    <input type="submit" value="OK">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="photos">
        {% for img in images %}
        <img src="public/images/photo/{{ img.fileName|e }}" alt="img">
        {% endfor %}
     </div>
</div>
{% include 'footer.twig' %}